*.py[cod]

# C extensions
*.so

# Packages
*.eggs
*.egg
*.egg-info*
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
docs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Coverage
.coverage
htmlcov
runtests.py

# IDEs
.mr.developer.cfg
.project
.pydevproject
.spyderproject
/.settings
.idea
*.ipynb
*.swp

.vagrant
Vagrantfile

#vi
*~
